.p1{
  text-align: center;
  font-size: 30px;
  font-family: cursive;
  color: darkslategray;
  margin-bottom: 15px;
  margin-top: 20px;
}

.p1 em{
  color: lightpink;
  font-weight: bold;
}

.p2{
  text-align: center;
  font-size: 30px;
  /* font-family: 'Courier New', Courier, monospace; */
  color: darkslategray;
  margin-bottom: 20px;

}


.product-container {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  align-content: center;
    justify-content: center;
    align-items: center;
  
}


.product-card {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-card.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  position: relative;
  padding: 20px;
}

.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  
}

.back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

.discount {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px 8px;
  background-color: lightpink;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  border-radius: 5px;
}

.image-product {
  width: 100%;
  text-align: center;
}

.image-product img {
  /* max-width: 100%; */
  /* max-height: 200px; */
  width: 160px;
  height: 200px;
}

.content-product {
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
  
}

.price {
  margin-top: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price h3 {
  font-size: 26px;
  font-weight: bold;
  margin-right: 16px;
  color: hotpink;
}

.price h4 {
  font-size: 20px;
  color: #888;
  text-decoration: line-through;
  margin-top: 5px;
}

.button-card {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.button-card button {
  padding: 10px 20px;
  margin: 0 15px;
  background-color: lightpink;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button-card button:hover {
  background-color: blanchedalmond;
  color: black;
}
