.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90.5vh;
    background-image: url("../../Assets/aboutus1.png");
    background-size: cover;
    background-color: white;
  
  }

  
  .login-h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: lightpink;
    font-weight: 900;
    text-align: center;
  }
  
  .form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .label-login {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .input-login,
  .input-login{
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 20rem;
    color: purple;
    border-color: lightpink;
  }
  
  .button-login[type="submit"] {
    font-size: 20px;
    border-color: lightpink;
    background-color: lightpink;
    padding: 12px;
    border-radius: 26px;
    cursor: pointer;
    margin-top: 20px;
  }

  .registration{
    font-weight: 900;
    margin-top: 20px;
    font-size: 20px;
  }

  @media (max-width: 576px) {

    .login-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 90.5vh;
     background-image: none;
      background-size: cover;
      background-color: white;
    
    }
  
  }
  