.bookyourevent {
 text-align: center;
  font-size: 50px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: cursive;
}

.res-image-container {
  display: flex;
  justify-content: center;
}

.res-book1,
.res-book2 {
  width: 50%;
  max-width: 100%;
  height: 50vh;
  object-fit: cover;
}

.res-book3 {
  width: 100%;
  max-width: 100%;
  height: 20vh;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
}

.res-event {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: cursive;
  max-width: 50%;
  margin: 0 auto;
}

.res-event-title {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 500;
  margin-top: 50px;
}

.res-event-text {
  font-size: 20px;
  line-height: 1.5;
  color: darkslategray;
  margin-bottom: 20px;
}

.res-event-text1 {
  font-size: 20px;
  line-height: 1.5;
  color: darkslategray;
  margin-bottom: 20px;
}

.res-event-text2 {
  font-size: 20px;
  line-height: 1.5;
  color: darkslategray;
}

.res-button {
  font-size: 20px;
  background-color: lightpink;
  padding: 15px;
  border-radius: 26px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.5rem;
  padding: 10px 20px;
  border: 2px solid lightpink;
  box-shadow: 3px 3px grey;
  margin-bottom: 30px;
}

.res-button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.res-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh;
}

.res-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  max-width: 600px;
  width: 100%;
}

.res-label {
  font-weight: bold;
  font-size: 20px;
  font-family: cursive;
}

.res-label-tool {
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
 
}

.res-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

.res-input-address {
  width: 178%;
  padding: 8px;
  margin-bottom: 16px;
  height: 70px;
}

.res-input[type="submit"] {
  
  color: white;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
}



.res-h2 {
  text-align: center;
  margin-bottom: 24px;
  font-size: 40px;
  color: lightpink;
}

.tools {
    margin-top: 20px;
    width: 100%;
    
  }
  
  .tools-check {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .tools-check > div {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    font-size: 18px;
    margin-top: 10px;
  }
  
  

.details {
  width: 178%;
  font-weight: bold;
  font-size: 20px;
  
}
.res-input-details {
  height: 70px;
  width: 178%;
  padding: 7px;
}

/* Reservation Form Popup */
.res-popup {
    position: fixed;
    top: 90px; 
    left: 0;
    width: 100%;
    height: calc(100% - 90px); 
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto; 
    z-index: 9999; 
  }
  

  .res-popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 645px;
    border: 1px solid lightpink;
    width: 80%; 
    margin: auto; 
  }
  

.res-close-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.res-close-btn:hover {
  background-color: grey;
  color: black;
}

.res-submit-btn {
  background-color: lightpink;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 444px;
}

.res-images {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
    flex-wrap: wrap;
    gap: 3%;
  }
  
  .res-image,
  .res-image1 {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    background-color: grey;
    transition: transform 0.3s ease-in-out;
  }
  .res-image:hover,
.res-image1:hover {
  transform: scale(0.8);
}


/* Styles for mobile devices */
@media (max-width: 600px) {
    .bookyourevent {
      margin-left: 20px;
      font-size: 30px;
      margin-top: 13px;
      margin-bottom: 10px;
    }
  
    .res-image-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .res-book1,
    .res-book2,
    .res-book3 {
      width: 100%;
      height: auto;
      max-height: 300px;
    }
  
    .res-event {
      max-width: 90%;
    
      }
    
  
    .res-event-title {
      font-size: 32px;
      margin-top: 30px;
    }
  
    .res-event-text,
    .res-event-text1,
    .res-event-text2 {
      font-size: 16px;
    }
  
    .res-button {
      font-size: 16px;
      padding: 10px 16px;
    }
  
    .res-container {
      height: auto;
    }
  
    .res-form {
      grid-template-columns: 1fr;
      grid-row-gap: 10px;
      max-width: 100%;
    }
  
    .res-input-address,
    .res-input-details {
      width: 100%;
      height: 60px;
    }
  
    .res-h2 {
      font-size: 30px;
    }
  
    .tools-check > div {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .details {
      width: 100%;
    }
  
    .res-popup-content {
      width: 95%;
      max-width: 100%;
    }
  
    .res-submit-btn {
      margin-right: 169px;
    }
  
   
    .res-image,
    .res-image1 {
      max-width: 80%; 
      height: auto;
      margin-bottom: 10px;
    }
  }
  
  /* Styles for tablet devices */
@media (max-width: 1024px) {
    .bookyourevent {
      font-size: 40px;
      margin-top: 20px;
      margin-bottom: 15px;
    }

    .res-event {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: cursive;
       
        margin: 0 auto;
      }
  
    .res-event-title {
      font-size: 30px;
      margin-bottom: 15px;
      margin-top: 40px;
    }
  
    .res-event-text,
    .res-event-text1,
    .res-event-text2 {
      font-size: 25px;
      margin-bottom: 15px;
    }
  
    .res-button {
      font-size: 18px;
      padding: 12px;
      margin-top: 15px;
      margin-bottom: 25px;
    }
  
    .res-container {
      height: auto;
      margin-bottom: 20px;
    }
  
   
   

   
  }
  
  